.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  /* background-color:#12343b; */
  min-width: 450px;
  min-height: 600px;
  /* padding: 0 30px; */
  box-sizing: border-box;
  border-radius: 10px;
}

.header h1{
  /* color: #fff; */
  color:black;
  text-align: center;
  margin: 30px 0;
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  color: #cccc;
  border-radius: 10px;
  border-color: #000000;
  border:1px solid black;
}

.button-add{
  width: 150px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border:0;
  background-color: rgb(206, 209, 219);
}

.list-item{
  display: flex;
  margin:20px 0;
  border-radius: 10px;
  border:1px solid #ccc;
  padding: 10px;
  max-height: 30px;
}

.button-delete , .button-complete , .button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
  text-align: right;
  float: right;
}

.button-complete{
  color: #ff6c6c;
  margin-right: 10px;
}

.button-edit{
  color: #e2d029;
  margin-right: 10px;
}

.button-delete{
  color: lightseagreen;
  margin-right: 10px;
}


.complete{
  text-decoration-style:solid ;
  text-decoration-line:line-through ;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list{
  width: 22px;
  /* background-color: #12343b; */
  color: black;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
  width:50%;
}

input:focus,
button:focus{
  outline: none;
}

input{
  color:black;
  background-color: #fff;
}

li input{
  background-color: transparent;
  outline: none;
  border:0;
  color: white;
  font-size: 20px;
}

.output{
  background-color: transparent;
  outline: none;
  border:0;
  color: white;
  font-size: 20px;
}

.txt-input {
  font-size: 20px;
  color: black;
}

.li-display {
  display: flex;
  justify-content: space-between;
}

form{
  text-align: center;
}